*.log
*.lot
*.lof
*.gz
.Rproj.user
.RData
.Rhistory
data/*
preprocessed/S4S5/.idea/workspace.xml
preprocessed/S4S5/.idea/vcs.xml
preprocessed/S4S5/.idea/S4S5.iml
preprocessed/S4S5/.idea/modules.xml
preprocessed/S4S5/.idea/misc.xml
.idea/xd-project.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/R_User_Library.xml
.idea/dictionaries/aerye.xml
